---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
  
</div>

<div> {% include twitter.html %}</div>
<div>      <p>&copy; {{ page.date | date_to_string }} Gerald Lee Jordan, MBA, MEd, MCouns
</p></div>
<div class="related">
  <h3>other posts</h3>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
